install/
*.elf
*.o
*.d
 build/tools/common/ota_tool/__pycache__/
freertos/cvirtos.bin
!freertos/cvitek/install/
freertos/cvitek/build/
host-tools/
linux_5.10/build/
middleware/v2/lib
middleware/v2/sample/audio/aac_sample/cvi_audio_aac_adp.d
build/.config
build/.defconfig
build/boards/mars/cv1812h_wevb_0007a_emmc/__pycache__/
build/config.cmake
build/output/
build/scripts/__pycache__/
build/tools/common/image_tool/__pycache__/XmlParser.cpython-36.pyc
build/tools/common/image_tool/__pycache__/raw2cimg.cpython-36.pyc
build/tools/common/ota_tool/__pycache__/
u-boot-2021.10/build/
build/.config.old
build/boards/mars/cv1810c_wevb_0006a_spinor/__pycache__/
middleware/v2/sample/audio/sample_audio
middleware/v2/sample/cipher/sample_cipher
middleware/v2/sample/cvg/sample_cvg
middleware/v2/sample/fisheye/sample_fisheye
middleware/v2/sample/ipcam/cmd/cmdTest
middleware/v2/sample/ipcam/mars/ipcam_mars
middleware/v2/sample/ir_auto/ir_auto
middleware/v2/sample/ive/sample_16bitto8bit
middleware/v2/sample/ive/sample_add
middleware/v2/sample/ive/sample_and
middleware/v2/sample/ive/sample_bernsen
middleware/v2/sample/ive/sample_bgmodel
middleware/v2/sample/ive/sample_cannyedge
middleware/v2/sample/ive/sample_cannyhysedge
middleware/v2/sample/ive/sample_csc
middleware/v2/sample/ive/sample_dilate
middleware/v2/sample/ive/sample_dma
middleware/v2/sample/ive/sample_erode
middleware/v2/sample/ive/sample_filter
middleware/v2/sample/ive/sample_filterandcsc
middleware/v2/sample/ive/sample_framediffmotion
middleware/v2/sample/ive/sample_gmm
middleware/v2/sample/ive/sample_gmm2
middleware/v2/sample/ive/sample_gradfg
middleware/v2/sample/ive/sample_hist
middleware/v2/sample/ive/sample_integ
middleware/v2/sample/ive/sample_lbp
middleware/v2/sample/ive/sample_magandang
middleware/v2/sample/ive/sample_map
middleware/v2/sample/ive/sample_ncc
middleware/v2/sample/ive/sample_normgrad
middleware/v2/sample/ive/sample_or
middleware/v2/sample/ive/sample_ordstatfilter
middleware/v2/sample/ive/sample_query
middleware/v2/sample/ive/sample_resize
middleware/v2/sample/ive/sample_sad
middleware/v2/sample/ive/sample_sobel
middleware/v2/sample/ive/sample_stcandicorner
middleware/v2/sample/ive/sample_sub
middleware/v2/sample/ive/sample_thresh
middleware/v2/sample/ive/sample_thresh_S16
middleware/v2/sample/ive/sample_thresh_U16
middleware/v2/sample/ive/sample_xor
middleware/v2/sample/mipi_tx/sample_dsi
middleware/v2/sample/osdc/sample_osdc
middleware/v2/sample/overlay/sample_overlay
middleware/v2/sample/region/sample_region
middleware/v2/sample/scene_auto/sample_scene_auto
middleware/v2/sample/sensor_test/sensor_test
middleware/v2/sample/vdec/sample_vdec
middleware/v2/sample/vdecvo/sample_vdecvo
middleware/v2/sample/venc/sample_vcodec
middleware/v2/sample/venc/sample_venc
middleware/v2/sample/vio/sample_vio
ramdisk/build/
freertos/cvitek/install/bin/cvirtos.bin
freertos/cvitek/install/bin/cvirtos.dis
freertos/cvitek/install/bin/cvirtos.elf
freertos/cvitek/install/bin/cvirtos.map
freertos/cvitek/install/lib/libaudio.a
freertos/cvitek/install/lib/libcomm.a
freertos/cvitek/install/lib/librgn.a
linux_5.10/arch/riscv/boot/dts/cvitek/cv1810c_wdmb_0006a_spinor.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1810c_wevb_0006a_spinor.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1811c_wdmb_0006a_spinor.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1811c_wevb_0006a_spinor.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1811h_wevb_0007a_emmc.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1811h_wevb_0007a_spinand.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1811h_wevb_0007a_spinor.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1812h_wevb_0007a_emmc.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1812h_wevb_0007a_spinand.dts
linux_5.10/arch/riscv/boot/dts/cvitek/cv1812h_wevb_0007a_spinor.dts
linux_5.10/arch/riscv/boot/dts/cvitek/mars_asic_bga.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_asic_emmc.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_asic_qfn.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_asic_spinand.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_asic_spinor.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_base.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_base_riscv.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_default_memmap.dtsi
linux_5.10/arch/riscv/boot/dts/cvitek/mars_fpga.dts
linux_5.10/arch/riscv/boot/dts/cvitek/mars_fpga_c906.dts
linux_5.10/arch/riscv/boot/dts/cvitek/mars_palladium.dts
linux_5.10/arch/riscv/boot/dts/cvitek/mars_riscv64_fpga.dts
linux_5.10/scripts/dtc/include-prefixes/cvi_board_memmap.h
middleware/v2/lib_glibc_riscv64/libsample.a
middleware/v2/lib_glibc_riscv64/libsample.so
middleware/v2/lib_glibc_riscv64/libsns_full.a
middleware/v2/lib_glibc_riscv64/libsns_full.so
middleware/v2/lib_glibc_riscv64/libsns_gc4653.a
middleware/v2/lib_glibc_riscv64/libsns_gc4653.so
middleware/v2/lib_glibc_riscv64/libsns_imx307.a
middleware/v2/lib_glibc_riscv64/libsns_imx307.so
middleware/v2/lib_glibc_riscv64/libsns_imx307_2l.a
middleware/v2/lib_glibc_riscv64/libsns_imx307_2l.so
middleware/v2/lib_glibc_riscv64/libsns_imx307_slave.a
middleware/v2/lib_glibc_riscv64/libsns_imx307_slave.so
middleware/v2/lib_glibc_riscv64/libsns_imx327.a
middleware/v2/lib_glibc_riscv64/libsns_imx327.so
middleware/v2/lib_glibc_riscv64/libsns_imx327_2l.a
middleware/v2/lib_glibc_riscv64/libsns_imx327_2l.so
middleware/v2/lib_glibc_riscv64/libsns_imx327_slave.a
middleware/v2/lib_glibc_riscv64/libsns_imx327_slave.so
middleware/v2/lib_glibc_riscv64/libsns_os04a10.a
middleware/v2/lib_glibc_riscv64/libsns_os04a10.so
middleware/v2/lib_glibc_riscv64/libsns_os04c10.a
middleware/v2/lib_glibc_riscv64/libsns_os04c10.so
middleware/v2/lib_glibc_riscv64/libsns_sc3335.a
middleware/v2/lib_glibc_riscv64/libsns_sc3335.so
middleware/v2/lib_glibc_riscv64/libsns_sc500ai.a
middleware/v2/lib_glibc_riscv64/libsns_sc500ai.so
opensbi/build/lib/libsbi.a
opensbi/build/lib/libsbiutils.a
opensbi/build/lib/sbi/riscv_asm.dep
opensbi/build/lib/sbi/riscv_asm.o
opensbi/build/lib/sbi/riscv_atomic.dep
opensbi/build/lib/sbi/riscv_atomic.o
opensbi/build/lib/sbi/riscv_hardfp.dep
opensbi/build/lib/sbi/riscv_hardfp.o
opensbi/build/lib/sbi/riscv_locks.dep
opensbi/build/lib/sbi/riscv_locks.o
opensbi/build/lib/sbi/sbi_bitmap.dep
opensbi/build/lib/sbi/sbi_bitmap.o
opensbi/build/lib/sbi/sbi_bitops.dep
opensbi/build/lib/sbi/sbi_bitops.o
opensbi/build/lib/sbi/sbi_console.dep
opensbi/build/lib/sbi/sbi_console.o
opensbi/build/lib/sbi/sbi_domain.dep
opensbi/build/lib/sbi/sbi_domain.o
opensbi/build/lib/sbi/sbi_ecall.dep
opensbi/build/lib/sbi/sbi_ecall.o
opensbi/build/lib/sbi/sbi_ecall_base.dep
opensbi/build/lib/sbi/sbi_ecall_base.o
opensbi/build/lib/sbi/sbi_ecall_hsm.dep
opensbi/build/lib/sbi/sbi_ecall_hsm.o
opensbi/build/lib/sbi/sbi_ecall_legacy.dep
opensbi/build/lib/sbi/sbi_ecall_legacy.o
opensbi/build/lib/sbi/sbi_ecall_replace.dep
opensbi/build/lib/sbi/sbi_ecall_replace.o
opensbi/build/lib/sbi/sbi_ecall_vendor.dep
opensbi/build/lib/sbi/sbi_ecall_vendor.o
opensbi/build/lib/sbi/sbi_emulate_csr.dep
opensbi/build/lib/sbi/sbi_emulate_csr.o
opensbi/build/lib/sbi/sbi_expected_trap.dep
opensbi/build/lib/sbi/sbi_expected_trap.o
opensbi/build/lib/sbi/sbi_fifo.dep
opensbi/build/lib/sbi/sbi_fifo.o
opensbi/build/lib/sbi/sbi_hart.dep
opensbi/build/lib/sbi/sbi_hart.o
opensbi/build/lib/sbi/sbi_hfence.dep
opensbi/build/lib/sbi/sbi_hfence.o
opensbi/build/lib/sbi/sbi_hsm.dep
opensbi/build/lib/sbi/sbi_hsm.o
opensbi/build/lib/sbi/sbi_illegal_insn.dep
opensbi/build/lib/sbi/sbi_illegal_insn.o
opensbi/build/lib/sbi/sbi_init.dep
opensbi/build/lib/sbi/sbi_init.o
opensbi/build/lib/sbi/sbi_ipi.dep
opensbi/build/lib/sbi/sbi_ipi.o
opensbi/build/lib/sbi/sbi_math.dep
opensbi/build/lib/sbi/sbi_math.o
opensbi/build/lib/sbi/sbi_misaligned_ldst.dep
opensbi/build/lib/sbi/sbi_misaligned_ldst.o
opensbi/build/lib/sbi/sbi_platform.dep
opensbi/build/lib/sbi/sbi_platform.o
opensbi/build/lib/sbi/sbi_scratch.dep
opensbi/build/lib/sbi/sbi_scratch.o
opensbi/build/lib/sbi/sbi_string.dep
opensbi/build/lib/sbi/sbi_string.o
opensbi/build/lib/sbi/sbi_system.dep
opensbi/build/lib/sbi/sbi_system.o
opensbi/build/lib/sbi/sbi_timer.dep
opensbi/build/lib/sbi/sbi_timer.o
opensbi/build/lib/sbi/sbi_tlb.dep
opensbi/build/lib/sbi/sbi_tlb.o
opensbi/build/lib/sbi/sbi_trap.dep
opensbi/build/lib/sbi/sbi_trap.o
opensbi/build/lib/sbi/sbi_unpriv.dep
opensbi/build/lib/sbi/sbi_unpriv.o
opensbi/build/lib/utils/fdt/fdt_domain.dep
opensbi/build/lib/utils/fdt/fdt_domain.o
opensbi/build/lib/utils/fdt/fdt_fixup.dep
opensbi/build/lib/utils/fdt/fdt_fixup.o
opensbi/build/lib/utils/fdt/fdt_helper.dep
opensbi/build/lib/utils/fdt/fdt_helper.o
opensbi/build/lib/utils/ipi/fdt_ipi.dep
opensbi/build/lib/utils/ipi/fdt_ipi.o
opensbi/build/lib/utils/ipi/fdt_ipi_clint.dep
opensbi/build/lib/utils/ipi/fdt_ipi_clint.o
opensbi/build/lib/utils/irqchip/fdt_irqchip.dep
opensbi/build/lib/utils/irqchip/fdt_irqchip.o
opensbi/build/lib/utils/irqchip/fdt_irqchip_plic.dep
opensbi/build/lib/utils/irqchip/fdt_irqchip_plic.o
opensbi/build/lib/utils/irqchip/plic.dep
opensbi/build/lib/utils/irqchip/plic.o
opensbi/build/lib/utils/libfdt/fdt.dep
opensbi/build/lib/utils/libfdt/fdt.o
opensbi/build/lib/utils/libfdt/fdt_addresses.dep
opensbi/build/lib/utils/libfdt/fdt_addresses.o
opensbi/build/lib/utils/libfdt/fdt_check.dep
opensbi/build/lib/utils/libfdt/fdt_check.o
opensbi/build/lib/utils/libfdt/fdt_empty_tree.dep
opensbi/build/lib/utils/libfdt/fdt_empty_tree.o
opensbi/build/lib/utils/libfdt/fdt_ro.dep
opensbi/build/lib/utils/libfdt/fdt_ro.o
opensbi/build/lib/utils/libfdt/fdt_rw.dep
opensbi/build/lib/utils/libfdt/fdt_rw.o
opensbi/build/lib/utils/libfdt/fdt_strerror.dep
opensbi/build/lib/utils/libfdt/fdt_strerror.o
opensbi/build/lib/utils/libfdt/fdt_sw.dep
opensbi/build/lib/utils/libfdt/fdt_sw.o
opensbi/build/lib/utils/libfdt/fdt_wip.dep
opensbi/build/lib/utils/libfdt/fdt_wip.o
opensbi/build/lib/utils/reset/fdt_reset.dep
opensbi/build/lib/utils/reset/fdt_reset.o
opensbi/build/lib/utils/reset/fdt_reset_htif.dep
opensbi/build/lib/utils/reset/fdt_reset_htif.o
opensbi/build/lib/utils/reset/fdt_reset_sifive.dep
opensbi/build/lib/utils/reset/fdt_reset_sifive.o
opensbi/build/lib/utils/reset/fdt_reset_thead.dep
opensbi/build/lib/utils/reset/fdt_reset_thead.o
opensbi/build/lib/utils/reset/fdt_reset_thead_asm.dep
opensbi/build/lib/utils/reset/fdt_reset_thead_asm.o
opensbi/build/lib/utils/serial/fdt_serial.dep
opensbi/build/lib/utils/serial/fdt_serial.o
opensbi/build/lib/utils/serial/fdt_serial_htif.dep
opensbi/build/lib/utils/serial/fdt_serial_htif.o
opensbi/build/lib/utils/serial/fdt_serial_shakti.dep
opensbi/build/lib/utils/serial/fdt_serial_shakti.o
opensbi/build/lib/utils/serial/fdt_serial_sifive.dep
opensbi/build/lib/utils/serial/fdt_serial_sifive.o
opensbi/build/lib/utils/serial/fdt_serial_uart8250.dep
opensbi/build/lib/utils/serial/fdt_serial_uart8250.o
opensbi/build/lib/utils/serial/shakti-uart.dep
opensbi/build/lib/utils/serial/shakti-uart.o
opensbi/build/lib/utils/serial/sifive-uart.dep
opensbi/build/lib/utils/serial/sifive-uart.o
opensbi/build/lib/utils/serial/uart8250.dep
opensbi/build/lib/utils/serial/uart8250.o
opensbi/build/lib/utils/sys/clint.dep
opensbi/build/lib/utils/sys/clint.o
opensbi/build/lib/utils/sys/htif.dep
opensbi/build/lib/utils/sys/htif.o
opensbi/build/lib/utils/sys/sifive_test.dep
opensbi/build/lib/utils/sys/sifive_test.o
opensbi/build/lib/utils/timer/fdt_timer.dep
opensbi/build/lib/utils/timer/fdt_timer.o
opensbi/build/lib/utils/timer/fdt_timer_clint.dep
opensbi/build/lib/utils/timer/fdt_timer_clint.o
opensbi/build/platform/generic/firmware/fw_dynamic.bin
opensbi/build/platform/generic/firmware/fw_dynamic.dep
opensbi/build/platform/generic/firmware/fw_dynamic.elf
opensbi/build/platform/generic/firmware/fw_dynamic.elf.ld
opensbi/build/platform/generic/firmware/fw_dynamic.o
opensbi/build/platform/generic/firmware/fw_jump.bin
opensbi/build/platform/generic/firmware/fw_jump.dep
opensbi/build/platform/generic/firmware/fw_jump.elf
opensbi/build/platform/generic/firmware/fw_jump.elf.ld
opensbi/build/platform/generic/firmware/fw_jump.o
opensbi/build/platform/generic/firmware/fw_payload.bin
opensbi/build/platform/generic/firmware/fw_payload.dep
opensbi/build/platform/generic/firmware/fw_payload.elf
opensbi/build/platform/generic/firmware/fw_payload.elf.ld
opensbi/build/platform/generic/firmware/fw_payload.o
opensbi/build/platform/generic/firmware/payloads/test.bin
opensbi/build/platform/generic/firmware/payloads/test.dep
opensbi/build/platform/generic/firmware/payloads/test.elf
opensbi/build/platform/generic/firmware/payloads/test.elf.ld
opensbi/build/platform/generic/firmware/payloads/test.o
opensbi/build/platform/generic/firmware/payloads/test_head.dep
opensbi/build/platform/generic/firmware/payloads/test_head.o
opensbi/build/platform/generic/firmware/payloads/test_main.dep
opensbi/build/platform/generic/firmware/payloads/test_main.o
opensbi/build/platform/generic/lib/libplatsbi.a
opensbi/build/platform/generic/platform.dep
opensbi/build/platform/generic/platform.o
opensbi/build/platform/generic/sifive_fu540.dep
opensbi/build/platform/generic/sifive_fu540.o
u-boot-2021.10/board/cvitek/cvi_board_init.c
u-boot-2021.10/include/cvi_board_memmap.h
u-boot-2021.10/include/cvipart.h
u-boot-2021.10/include/cvitek/cvitek.h
u-boot-2021.10/include/imgs.h

middleware/v2/lib_musl_riscv64/libsample.a
middleware/v2/lib_musl_riscv64/libsample.so
middleware/v2/lib_musl_riscv64/libsns_full.a
middleware/v2/lib_musl_riscv64/libsns_gc4653.a
middleware/v2/lib_musl_riscv64/libsns_gc4653.so
middleware/v2/lib_musl_riscv64/libsns_imx307.a
middleware/v2/lib_musl_riscv64/libsns_imx307.so
middleware/v2/lib_musl_riscv64/libsns_imx307_2l.a
middleware/v2/lib_musl_riscv64/libsns_imx307_2l.so
middleware/v2/lib_musl_riscv64/libsns_imx307_slave.a
middleware/v2/lib_musl_riscv64/libsns_imx307_slave.so
middleware/v2/lib_musl_riscv64/libsns_imx327.a
middleware/v2/lib_musl_riscv64/libsns_imx327.so
middleware/v2/lib_musl_riscv64/libsns_imx327_2l.a
middleware/v2/lib_musl_riscv64/libsns_imx327_2l.so
middleware/v2/lib_musl_riscv64/libsns_imx327_slave.a
middleware/v2/lib_musl_riscv64/libsns_imx327_slave.so
middleware/v2/lib_musl_riscv64/libsns_os04c10.a
middleware/v2/lib_musl_riscv64/libsns_os04c10.so
middleware/v2/lib_musl_riscv64/libsns_sc3335.a
middleware/v2/lib_musl_riscv64/libsns_sc3335.so
middleware/v2/lib_musl_riscv64/libsns_sc500ai.a
middleware/v2/lib_musl_riscv64/libsns_sc500ai.so
middleware/v2/lib_musl_riscv64/libsns_*
middleware/v2/sample/display_test/lt9611_test

build/boards/mars/cv1811c_wevb_0006a_spinor/__pycache__/
middleware/v2/lib_glibc_riscv64/libsns_*
u-boot-2021.10/arch/riscv/dts/cv1810c_wdmb_0006a_spinor.dts
u-boot-2021.10/arch/riscv/dts/cv1810c_wevb_0006a_spinor.dts
u-boot-2021.10/arch/riscv/dts/cv1811c_wdmb_0006a_spinor.dts
u-boot-2021.10/arch/riscv/dts/cv1811c_wevb_0006a_spinor.dts
u-boot-2021.10/arch/riscv/dts/cv1811h_wevb_0007a_emmc.dts
u-boot-2021.10/arch/riscv/dts/cv1811h_wevb_0007a_spinand.dts
u-boot-2021.10/arch/riscv/dts/cv1811h_wevb_0007a_spinor.dts
u-boot-2021.10/arch/riscv/dts/cv1812h_wevb_0007a_emmc.dts
u-boot-2021.10/arch/riscv/dts/cv1812h_wevb_0007a_spinand.dts
u-boot-2021.10/arch/riscv/dts/cv1812h_wevb_0007a_spinor.dts
middleware/v2/lib_musl_riscv64/lib_lt9611.a
middleware/v2/lib_musl_riscv64/lib_lt9611.so
*.d
*.o
*.ld.d
*.dis
*.map
*.elf
*.o.cmd
*.mod.o.cmd
*.ko.cmd
*.Module.symvers.cmd
*.modules.order.cmd
Module.symvers
modules.order
*.order
*.mod
*.mod.c
*.mod.cmd